SERVICE_ENV=prod

BOT_TOKEN=token
EXAM_GROUP_ID=-0000
ANNOUNCEMENTS_TOPIC_ID=000
STUDENT_PRESENTATIONS_TOPIC_ID=000
QUESTION_AND_ANSWER_TOPIC_ID=000

# Sheet names
ANNOUNCEMENT_SHEET_NAME=announcement
SUBMIT_SHEET_NAME=submit
CONTACT_MEMBER_SHEET_NAME=contact_member

SPREADSHEET_ID=spreadsheetapi

GOOGLE_SHEET_CREDS_BASE64=base64

VPS_USER="username"
VPS_IP="host"
VPS_PORT="22"
SSH_KEY="~/.ssh/telegram-bot_rsa"
IMAGE_NAME="english-with-me-bot"
IMAGE_TAG="latest"
REMOTE_DIR="/home/username"